# Pitroski's F-Score

In [1]:
# Import necessary libraries 
import numpy as np 
import pandas as pd

In [2]:
pathfile = 'data//f_score//f_score_data1.txt'

In [3]:
data = pd.read_csv(pathfile, delimiter='|')
data.shape

(144875, 40)

In [4]:
data.head()

,sa_finance1_cocode,sa_company_name,sa_finance1_year,sa_ann_rep_months,sa_fs_format,sa_total_income,sa_sales,sa_prior_period_extra_ordi_inc,sa_prior_period_inc,sa_extra_ordi_inc,...,sa_total_assets,sa_non_current_assets,sa_current_assets_incl_st_invest_loans,sa_avg_tot_asset_net_miscexp_now_reval,sa_quick_ratio,sa_current_ratio,sa_debt_equity,sa_cf_net_frm_op_activity,sa_cf_generated_frm_op,sa_cf_proceeds_share_issue
0,11,20 MICRONS LTD.,19970331,12,IGAAP,222.0,219.0,NaN,NaN,NaN,...,308.0,NaN,NaN,NaN,0.6919,1.1374,2.0921,NaN,NaN,NaN
1,11,20 MICRONS LTD.,19980331,12,IGAAP,307.0,300.3,NaN,NaN,NaN,...,507.9,NaN,NaN,405.90,0.7294,1.2757,1.5641,NaN,NaN,NaN
2,11,20 MICRONS LTD.,19990331,12,IGAAP,306.3,304.9,NaN,NaN,NaN,...,592.5,NaN,NaN,545.70,0.8693,1.5777,1.7361,NaN,NaN,NaN
3,11,20 MICRONS LTD.,20000331,12,IGAAP,356.1,354.2,NaN,NaN,NaN,...,685.7,NaN,NaN,628.90,1.0581,1.8924,1.1412,NaN,NaN,NaN
4,11,20 MICRONS LTD.,20010331,12,IGAAP,447.1,442.2,2.1,NaN,2.1,...,779.4,NaN,NaN,717.75,1.1219,1.9247,0.8325,NaN,NaN,NaN

In [5]:
data.columns

Index(['sa_finance1_cocode', 'sa_company_name', 'sa_finance1_year',
       'sa_ann_rep_months', 'sa_fs_format', 'sa_total_income', 'sa_sales',
       'sa_prior_period_extra_ordi_inc', 'sa_prior_period_inc',
       'sa_extra_ordi_inc', 'sa_tot_inc_net_of_pe', 'sa_pat', 'sa_pbdita',
       'sa_pbt', 'sa_pbit_net_of_peoifi', 'sa_pat_net_of_pe',
       'sa_pat_net_of_pe_pc_tot_inc_net_of_pe', 'sa_total_liabilities',
       'sa_non_current_liabilities', 'sa_long_term_borrowings',
       'sa_current_liabilities', 'sa_issued_equity_shares',
       'sa_issued_pref_shares', 'sa_issued_equity_cap', 'sa_issued_pref_cap',
       'sa_reduct_equity_cap_amt', 'sa_buyback_amt',
       'sa_issued_equity_shares_in_lakhs', 'sa_shareholders_funds', 'sa_debt',
       'sa_total_assets', 'sa_non_current_assets',
       'sa_current_assets_incl_st_invest_loans',
       'sa_avg_tot_asset_net_miscexp_now_reval', 'sa_quick_ratio',
       'sa_current_ratio', 'sa_debt_equity', 'sa_cf_net_frm_op_activity',
       'sa_cf_generated_frm_op', 'sa_cf_proceeds_share_issue'],
      dtype='object')

In [6]:
# Get a list of unique companies
company_list = list(data['sa_company_name'].unique())
print("Number of companies: {}".format(len(company_list)))

Number of companies: 8169

In [7]:
# Datatypes of each columns
data.dtypes

sa_finance1_cocode                          int64
sa_company_name                            object
sa_finance1_year                            int64
sa_ann_rep_months                           int64
sa_fs_format                               object
sa_total_income                           float64
sa_sales                                  float64
sa_prior_period_extra_ordi_inc            float64
sa_prior_period_inc                       float64
sa_extra_ordi_inc                         float64
sa_tot_inc_net_of_pe                      float64
sa_pat                                    float64
sa_pbdita                                 float64
sa_pbt                                    float64
sa_pbit_net_of_peoifi                     float64
sa_pat_net_of_pe                          float64
sa_pat_net_of_pe_pc_tot_inc_net_of_pe      object
sa_total_liabilities                      float64
sa_non_current_liabilities                float64
sa_long_term_borrowings                   float64
sa_current_liabilities                    float64
sa_issued_equity_shares                   float64
sa_issued_pref_shares                     float64
sa_issued_equity_cap                      float64
sa_issued_pref_cap                        float64
sa_reduct_equity_cap_amt                  float64
sa_buyback_amt                            float64
sa_issued_equity_shares_in_lakhs          float64
sa_shareholders_funds                     float64
sa_debt                                   float64
sa_total_assets                           float64
sa_non_current_assets                     float64
sa_current_assets_incl_st_invest_loans    float64
sa_avg_tot_asset_net_miscexp_now_reval    float64
sa_quick_ratio                            float64
sa_current_ratio                          float64
sa_debt_equity                            float64
sa_cf_net_frm_op_activity                 float64
sa_cf_generated_frm_op                    float64
sa_cf_proceeds_share_issue                float64
dtype: object

## Feature Engineering

### Extract year

In [8]:
data['sa_finance1_year']

0         19970331
1         19980331
2         19990331
3         20000331
4         20010331
            ...
144870    20140331
144871    20150331
144872    20170331
144873    20180331
144874    20190331
Name: sa_finance1_year, Length: 144875, dtype: int64

In [9]:
def extract_year(val):
    val = str(val)
    year = int(val[:4])
    return year

In [10]:
data['sa_year'] = data['sa_finance1_year'].apply(extract_year)

## F-Scores

### F_ROA ( return on assets )

In [11]:
data['sa_total_assets']

0         308.0
1         507.9
2         592.5
3         685.7
4         779.4
          ...
144870     61.4
144871     73.9
144872     79.4
144873     76.5
144874     87.0
Name: sa_total_assets, Length: 144875, dtype: float64

In [12]:
# Fill Extra Ordinary Income
data['sa_extra_ordi_inc'].fillna(0, inplace=True)

In [31]:
data[['sa_total_income', 'sa_sales',
       'sa_prior_period_extra_ordi_inc', 'sa_prior_period_inc',
       'sa_extra_ordi_inc', 'sa_tot_inc_net_of_pe']].head(20)

,sa_total_income,sa_prior_period_extra_ordi_inc,sa_prior_period_inc,sa_extra_ordi_inc,sa_tot_inc_net_of_pe
0,222.0,NaN,NaN,0.0,222.0
1,307.0,NaN,NaN,0.0,307.0
2,306.3,NaN,NaN,0.0,306.3
3,356.1,NaN,NaN,0.0,356.1
4,447.1,2.1,NaN,2.1,445.0
5,407.7,1.8,NaN,1.8,405.9
6,469.5,NaN,NaN,0.0,469.5
7,536.3,NaN,NaN,0.0,536.3
8,582.4,1.6,NaN,1.6,580.8
9,724.5,NaN,NaN,0.0,724.5
10,937.8,0.4,NaN,0.4,937.4
11,1163.8,12.3,12.0,0.3,1151.5
12,1467.1,2.6,1.9,0.7,1464.5
13,1832.0,14.6,0.3,14.3,1817.4
14,2425.7,3.5,3.2,0.3,2422.2
15,2722.0,8.0,6.8,1.2,2714.0
16,2901.9,18.9,14.2,4.7,2883.0
17,3097.0,12.2,12.2,0.0,3084.8
18,3316.2,17.9,10.5,7.4,3298.3
19,3527.6,13.6,5.3,8.3,3514.0